{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
        {% capture link2 %}{{ site.baseurl_root }}/zh{{ page.url}}{% endcapture %}
        {% if site.lang == "en" %}
          <a class="languagebtn" href="{{ link2 }}">{% t global.chinese%}</a>
        {% elsif site.lang == "zh" %}
          <a class="languagebtn" href="{{ link1 }}">{% t global.english%}</a>
        {% endif %}
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{% t title %}</a></li>
          

          {% for link in site.translations[site.lang].main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>