{% include base_path %}

<section class="page__share">
  {% if site.translations[site.lang].UI.share_on_label %}
    <h4 class="page__share-title">{{ site.translations[site.lang].UI.share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ site.translations[site.lang].UI.share_on_label | default: 'Share on' }} Twitter"><i class="fab fa-twitter" aria-hidden="true"></i><span>{% t social.twitter %}</span></a>

  <!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ site.translations[site.lang].UI.share_on_label | default: 'Share on' }} Facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span>{% t social.facebook %}</span></a> -->

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.translations[site.lang].UI.share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span>{% t social.linkedin %}</span></a>
</section>